<% provide(:title, @competition.display_name) %>
<div id="registration-app">
  <script src="https://d1qizdh27al0a7.cloudfront.net/dist/bundle.js"></script>
  <script>
    // inject the css file
    const head = document.getElementsByTagName('HEAD')[0];
    const link = document.createElement('link');
    link.rel = 'stylesheet';
    link.type = 'text/css';
    link.href = 'https://d1qizdh27al0a7.cloudfront.net/dist/bundle.css';
    // Append link element to HTML head
    head.appendChild(link);
    localStorage.setItem("user", "<%= current_user.id %>")
  </script>
</div>
